---
layout: default
---

<article>
  <div>
    <h1>{{ page.title }}</h1>
  </div>

  <div id="notes-entry-container">
    <content class="container">
      {{ content }}
    </content>

    {% if page.backlinks.size > 0 %}
    <side style="font-size: 0.9em">
      <h5 style="margin-bottom: 1em">PAGES MENTIONING THIS PAGE</h5>
      <div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(1fr);">
      {% for backlink in page.backlinks %}
        <div class="backlink-box">
        <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
        </div>
      {% endfor %}
      </div>
      {% endif %}
    </side>
  </div>
</article>

<hr>


{% include notes_graph.html %}
